<!DOCTYPE html>
<!--
  ~    Copyright 2018 prasenjit-net
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel='stylesheet' th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" id="bootstrap-css">
    <link rel="stylesheet" th:href="@{/css/style-login.css}">
    <!------ Include the above in your HEAD tag ---------->
    <title>Identity - Consent</title>
</head>
<body id="LoginForm">
<!--/*@thymesVar id="model" type="net.prasenjit.identity.model.ConsentModel"*/-->
<div class="container">
    <div class="login-form">
        <div class="main-div-consent">
            <div class="panel">
                <h2>Authorize Access</h2>
                <p><b th:text="${model.client.clientName}"></b> is trying to access your resource</p>

                <form id="Login" th:action="${#mvc.url('OAC#submitConsent').build()}" th:object="${model}"
                      method="post" name="auth">
                    <div class="accordion" id="accordionExample">
                        <div class="card text-left" th:each="s : *{filteredScopes}">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <input th:id="${#ids.seq('scope')}" type="checkbox" th:field="*{filteredScopes[__${s.key}__]}">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            th:attr='data-target=${"#" + #ids.next("scope-tab")}' aria-controls="collapseOne" th:text="${s.key}">
                                        openid
                                    </button>
                                </h5>
                            </div>

                            <div th:id="${#ids.seq('scope-tab')}" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    Scope description
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group full-width mt-3" role="group">
                        <button type="submit" name="valid" class="btn btn-success btn-50" value="true">Approve</button>
                        <button type="submit" name="valid" class="btn btn-danger btn-50" value="false">Disapprove
                        </button>
                    </div>
                    <input type="hidden" th:field="*{requestUri}">
                    <input type="hidden" th:field="*{openid}">
                    <input type="hidden" th:field="*{redirectUriUsed}">
                    <input type="hidden" name="consentSubmitted" value="true">
                </form>
            </div>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
