<!--
  ~    Copyright 2018 prasenjit-net
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel='stylesheet' th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" id="bootstrap-css">
    <link rel="stylesheet" th:href="@{/css/style-login.css}">
    <!------ Include the above in your HEAD tag ---------->
    <title>Identity - Change Password</title>
</head>
<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Change Password</h2>
                <!--/*@thymesVar id="forced" type="java.lang.Boolean"*/-->
                <p th:if="${forced}">Your password must be change before you can access</p>
                <p th:if="${error}" th:text="${error}"></p>
            </div>
            <form id="Login" th:action="${#mvc.url('CPC#changePassword').build()}" method="post" name="change-password">

                <div class="form-group">
                    <input type="password" class="form-control" name="oldPassword" placeholder="Old Password">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="newPassword" placeholder="New Password">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
                </div>

                <!--/*@thymesVar id="username" type="java.lang.String"*/-->
                <input type="hidden" th:value="${username}" name="username">
                <input type="hidden" th:value="${forced}" name="forced">

                <button type="submit" class="btn btn-primary" name="submit">Login</button>

            </form>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
