<!--
  ~    Copyright 2018 prasenjit-net
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel='stylesheet'
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
<title>Identity - Dashboard</title>
<style type="text/css">
body#LoginForm {
	background: url("/images/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover; /* Mozilla*/
	-o-background-size: cover; /* Opera*/
	background-size: cover; /* Generic*/
	padding: 10px;
}
</style>
</head>
<body id="LoginForm">

	<div class="container mt-3">
		<div class="row flex-lg-nowrap">
			<div class="col">
				<div class="row">
					<div class="col mb-3">
						<div class="card">
							<div class="card-body">
								<div class="e-profile">
									<div class="row">
										<div class="col-12 col-sm-auto mb-3">
											<div class="mx-auto" style="width: 140px;">
												<div
													class="d-flex justify-content-center align-items-center rounded"
													style="height: 140px; background-color: rgb(233, 236, 239);">
													<span
														style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
												</div>
											</div>
										</div>
										<div
											class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
											<div class="text-center text-sm-left mb-2 mb-sm-0">
												<h4 class="pt-sm-2 pb-1 mb-0 text-nowrap"
													th:text="${userInfo.name}">John Smith</h4>
												<p class="mb-0" th:text="${'@' + user.username}">@johnny.s</p>
												<div class="text-muted">
													<small>Login Time <span th:text="${loginTime}"></span></small>
												</div>
												<div class="mt-2">
													<button class="btn btn-primary" type="button">
														<i class="fa fa-fw fa-camera"></i> <span>Change
															Photo</span>
													</button>
												</div>
											</div>
											<div class="text-center text-sm-right">
												<span class="badge badge-secondary" th:if="admin">administrator</span>
												<div class="text-muted">
													<small>Joined <span th:text="${user.creationDate}"></span></small>
												</div>
												<div class="text-muted">
													<small>Birthday <span
														th:text="${userInfo.birthdate}"></span></small>
												</div>
												<div class="text-muted">
													<small><a href="/change-password">Change
															Password</a></small>
												</div>
											</div>
										</div>
									</div>
									<nav>
										<div class="nav nav-tabs" id="nav-tab" role="tablist">
											<a class="nav-item nav-link active" id="user-info-tab-head"
												data-toggle="tab" href="#userInfo-tab" role="tab"
												aria-controls="nav-home" aria-selected="true">User Info</a>
											<a class="nav-item nav-link" id="user-address-tab-head"
												data-toggle="tab" href="#address-tab" role="tab"
												aria-controls="nav-profile" aria-selected="false">User
												Address</a> <a class="nav-item nav-link"
												id="contact-info-tab-head" data-toggle="tab"
												href="#contact-info-tab" role="tab"
												aria-controls="nav-contact" aria-selected="false">Contact
												Info</a> <a class="nav-item nav-link"
												id="contact-info-tab-head" data-toggle="tab"
												href="#events-tab" role="tab"
												aria-controls="nav-contact" aria-selected="false">Events</a>
										</div>
									</nav>
									<form class="form" method="post"
										th:action="${#mvc.url('DC#modifyProfile').build()}"
										th:object="${userInfo}">
										<div class="tab-content pt-3">
											<div class="tab-pane fade show active" role="tabpanel"
												id="userInfo-tab">
												<div class="row">
													<div class="col">
														<div class="row">
															<div class="col">
																<div class="form-group">
																	<label>Given Name</label> <input class="form-control"
																		type="text" name="name" placeholder="Given Name"
																		th:field="*{givenName}">
																</div>
															</div>
															<div class="col">
																<div class="form-group">
																	<label>Middle Name</label> <input class="form-control"
																		type="text" name="name" placeholder="Middle Name"
																		th:field="*{middleName}">
																</div>
															</div>
															<div class="col">
																<div class="form-group">
																	<label>Family Name</label> <input class="form-control"
																		type="text" name="name" placeholder="Family Name"
																		th:field="*{familyName}">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col">
																<div class="form-group">
																	<label>Nickname</label> <input class="form-control"
																		type="text" name="name" placeholder="Nickname"
																		th:field="*{nickname}">
																</div>
															</div>
															<div class="col">
																<div class="form-group">
																	<label>Preferred Username</label> <input
																		class="form-control" type="text" name="name"
																		placeholder="Preferred Username"
																		th:field="*{preferredUsername}">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col">
																<div class="form-group">
																	<label>Zone Info</label> <input class="form-control"
																		type="text" name="name" placeholder="Zone Info"
																		th:field="*{zoneinfo}">
																</div>
															</div>
															<div class="col">
																<div class="form-group">
																	<label>Website</label> <input class="form-control"
																		type="url" name="name" placeholder="Website"
																		th:field="*{website}">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" role="tabpanel" id="address-tab">
												<div class="row">
													<div class="col">
														<div class="form-group">
															<label>Street Address</label> <input class="form-control"
																type="text" name="name" placeholder="Street Address"
																th:field="*{address.streetAddress}">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="form-group">
															<label>Locality</label> <input class="form-control"
																type="text" name="name" placeholder="Locality"
																th:field="*{address.locality}">
														</div>
													</div>
													<div class="col">
														<div class="form-group">
															<label>Region</label> <input class="form-control"
																type="text" name="name" placeholder="Region"
																th:field="*{address.region}">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="form-group">
															<label>Country</label> <input class="form-control"
																type="text" name="name" placeholder="Country"
																th:field="*{address.country}">
														</div>
													</div>
													<div class="col">
														<div class="form-group">
															<label>Postal Code</label> <input class="form-control"
																type="text" name="name" placeholder="Postal Code"
																th:field="*{address.postalCode}">
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" role="tabpanel"
												id="contact-info-tab">
												<div class="row">
													<div class="col">
														<div class="form-group">
															<label>Email Address</label>
															<div class="input-group mb-3">
																<input type="email" class="form-control"
																	th:field="*{emailAddress}">
																<div class="input-group-append">
																	<div class="input-group-text">
																		<input type="checkbox" disabled
																			th:field="*{emailVerified}">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col">
														<div class="form-group">
															<label>Phone Number</label>
															<div class="input-group mb-3">
																<input type="text" class="form-control"
																	th:field="*{phoneNumber}">
																<div class="input-group-append">
																	<div class="input-group-text">
																		<input type="checkbox" disabled
																			th:field="*{phoneNumberVerified}">
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" role="tabpanel" id="events-tab">
												<div th:replace="/events"></div>
											</div>
											<div class="row">
												<div class="col d-flex justify-content-end">
													<button class="btn btn-primary" type="submit">Save
														Changes</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-3 mb-3">
				<div class="card mb-3">
					<div class="card-body">
						<div class="px-xl-3">
							<form action="/logout" method="post">
								<button type="submit" class="btn btn-block btn-secondary">
									<i class="fa fa-sign-out"></i> <span>Logout</span>
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h6 class="card-title font-weight-bold">Support</h6>
						<p class="card-text">Get fast, free help from our friendly
							assistants.</p>
						<button type="button" class="btn btn-primary">Contact Us</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>
