<!DOCTYPE html>
<!--
  ~    Copyright 2018 prasenjit-net
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel='stylesheet' th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" id="bootstrap-css">
    <link rel="stylesheet" th:href="@{/css/style-login.css}">
    <!------ Include the above in your HEAD tag ---------->
    <title>Identity - Login</title>
</head>
<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Identity Login</h2>
                <p>Please enter your username and password</p>
            </div>
            <form id="Login" th:action="@{/login}" method="post" name="login">

                <div class="form-group">


                    <input type="text" class="form-control" id="inputEmail" name="username" placeholder="Email Address"
                           th:value="${loginHint}" th:readonly="${loginHint}">

                </div>

                <div class="form-group">

                    <input type="password" class="form-control" id="inputPassword" name="password"
                           placeholder="Password">

                </div>
                <div class="forgot">
                    <a href="reset.html">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary" name="submit">Login</button>

            </form>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>

