<!DOCTYPE html>
<!--
  ~    Copyright 2018 prasenjit-net
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto Submit Form</title>
</head>
<body onload="javascript:document.forms[0].submit()">
<h3>This page will refresh automatically</h3>
<!--/*@thymesVar id="redirect_uri" type="java.net.URI"*/-->
<form th:action="${redirect_uri}" method="post" name="auth">
    <!--/*@thymesVar id="paramList" type="java.util.List"*/-->
    <div th:each="s : *{paramList}">
        <!--/*@thymesVar id="s" type="net.prasenjit.identity.model.ui.Tuple"*/-->
        <input type="hidden" th:name="${s.key}" th:value="${s.value}">
    </div>
</form>
</body>
</html>
<html>